{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
<div style="background-color: #fff5e8;padding-top:8%;padding-left:8%;padding-right:8%;display: flex;flex-direction: column;border-radius: 30px;box-shadow: 0 0 2em hsl(231deg 62% 94%);">
    <div style ="user-select: none;overflow-y: hidden;display: flex;justify-content: center;align-items: center;background-color: #fff5e8;height: 100vh;">
        <bodyDiv style="height:100%;width:100%;font-family: Acme, serif;min-width:700px;">
            <div style="height:100%;width:100%;display:inline-block">
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
            </div>
        </bodyDiv>
    </div>
</div>
{% endblock %}
