<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 2</title>
    <link rel="stylesheet" href="style.css" media="all" />
</head>

{% block body %}

<!-- End Navbar -->
<style>
    body {
        font-family: Arial;
    }

    .coupon {
        border: 5px dotted #bbb;
        width: 80%;
        border-radius: 15px;
        margin: 0 auto;
        max-width: 600px;
    }

    .container {
        padding: 2px 16px;
        background-color: #f1f1f1;
    }

    .promo {
        background: #ccc;
        padding: 3px;
    }

    .expire {
        color: red;
    }
</style>
</head>
<body>
<div class="coupon">
    <div class="container">
        <h3>E-food Application</h3>
    </div>

    <div class="container" style="background-color:white">
<font color="orange">
<h1>Enjoy Coupoun</h1>
</font>
    </div>
    <div class="container">
        <table class="table">
            <tbody>

            <tr>
                <font color="#adff2f"><th>Coupoun Name:</th> </font>
                <td>{{ coupoun.textCoupouns }}</td>
            </tr>
            <tr>
                <font color="#adff2f"><th>Coupoun code : </th> </font>
                <td>{{ coupoun.textCoupouns }}</td>
            </tr>
            <tr>
                <font color="#adff2f"> <th>Starting Date :</th> </font>
                <td>{{ coupoun.date1 ? coupoun.date1|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <font color="#adff2f"> <th>Expiration Date :</th> </font>
                <td>{{ coupoun.date2 ? coupoun.date2|date('Y-m-d') : ''  }}</td>
            </tr>



            </tbody>
        </table>
    </div>
</div>





{% endblock %}
