<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    <meta content="summary_large_image" name="twitter:card">
    <meta content="website" property="og:type">
    <meta content="" property="og:description">
    <meta content="https://82y9j95ifn.preview-postedstuff.com/V2-naiS-FPnm-jzwQ-kcQZ/" property="og:url">
    <meta content="https://pro-bee-beepro-thumbnails.s3.amazonaws.com/messages/768578/752136/1496340/7283525_large.jpg" property="og:image">
    <meta content="" property="og:title">
    <meta content="" name="description">
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">
    <style>
        .bee-row,
        .bee-row-content {
            position: relative
        }

        .bee-row-1,
        .bee-row-2,
        .bee-row-3 {
            background-repeat: no-repeat
        }

        body {
            background-color: #85a4cd;
            color: #000;
            font-family: Roboto Slab, Arial, Helvetica Neue, Helvetica, sans-serif
        }

        a {
            color: #0068a5
        }

        * {
            box-sizing: border-box
        }

        body,
        h1,
        p {
            margin: 0
        }

        .bee-row-content {
            max-width: 650px;
            margin: 0 auto;
            display: flex
        }

        .bee-row-content .bee-col-w12 {
            flex-basis: 100%
        }

        .bee-html-block {
            text-align: center
        }

        .bee-divider,
        .bee-image {
            overflow: auto
        }

        .bee-divider .center,
        .bee-image .bee-center {
            margin: 0 auto
        }

        .bee-row-1 .bee-col-1 .bee-block-3 {
            width: 100%
        }

        .bee-image img {
            display: block;
            width: 100%
        }

        .bee-social .icon img {
            max-height: 32px
        }

        .bee-text {
            overflow-wrap: anywhere
        }

        @media (max-width:670px) {
            .bee-row-content:not(.no_stack) {
                display: block
            }
        }

        .bee-row-1 .bee-row-content,
        .bee-row-2 .bee-row-content,
        .bee-row-3 .bee-row-content {
            background-repeat: no-repeat;
            color: #000
        }

        .bee-row-1 .bee-col-1 {
            padding-bottom: 5px;
            padding-top: 5px
        }

        .bee-row-1 .bee-col-1 .bee-block-1 {
            padding: 30px
        }

        .bee-row-1 .bee-col-1 .bee-block-2 {
            padding-bottom: 10px;
            text-align: center;
            width: 100%
        }

        .bee-row-1 .bee-col-1 .bee-block-10,
        .bee-row-1 .bee-col-1 .bee-block-4,
        .bee-row-1 .bee-col-1 .bee-block-7,
        .bee-row-1 .bee-col-1 .bee-block-9,
        .bee-row-2 .bee-col-1 .bee-block-1,
        .bee-row-3 .bee-col-1 .bee-block-3 {
            padding: 10px
        }

        .bee-row-1 .bee-col-1 .bee-block-5,
        .bee-row-1 .bee-col-1 .bee-block-6 {
            padding: 5px 10px
        }

        .bee-row-1 .bee-col-1 .bee-block-11,
        .bee-row-3 .bee-col-1 .bee-block-1 {
            padding: 15px
        }

        .bee-row-2 {
            background-color: #c4d6ec
        }

        .bee-row-2 .bee-col-1 {
            padding-bottom: 20px;
            padding-top: 20px
        }

        .bee-row-3 {
            background-color: #f3f6fe
        }

        .bee-row-3 .bee-col-1 .bee-block-2 {
            padding: 10px 20px;
            text-align: center
        }
    </style>
</head>
<body>
<div class="bee-page-container">
    <div class="bee-row bee-row-1">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-1 bee-divider">
                    <div class="spacer" style="height:0px;">
                    </div>
                </div>
                <div class="bee-block bee-block-2 bee-heading">
                    <h1 style="color:#ffffff;direction:ltr;font-family:'Roboto Slab', Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size:30px;font-weight:normal;letter-spacing:2px;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
                        <strong>
                            FORGOT YOUR PASSWORD?
                        </strong>
                    </h1>
                </div>
                <div class="bee-block bee-block-3 bee-image">
                    <img alt="Wrong Password Animation" class="bee-center bee-autowidth" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/3856/GIF_password.gif" style="max-width:500px;">
                </div>
                <div class="bee-block bee-block-4 bee-divider">
                    <div class="spacer" style="height:0px;">
                    </div>
                </div>
                <div class="bee-block bee-block-5 bee-text">
                    <div class="bee-text-content" style="font-size: 14px; line-height: 120%; color: #3f4d75; font-family: inherit;">
                        <p style="font-size: 14px; line-height: 16px; text-align: center;">
         <span style="font-size: 20px; line-height: 24px;">
          Don't worry, be happy!
         </span>
                        </p>
                    </div>
                </div>
                <div class="bee-block bee-block-6 bee-text">
                    <div class="bee-text-content" style="font-size: 14px; line-height: 120%; color: #3f4d75; font-family: inherit;">
                        <p style="font-size: 14px; line-height: 16px; text-align: center;">
         <span style="font-size: 22px; line-height: 26px;">
          Let's get you a new password.
         </span>
                        </p>
                    </div>
                </div>
                <div class="bee-block bee-block-7 bee-divider">
                    <div class="spacer" style="height:0px;">
                    </div>
                </div>
                <div class="bee-block bee-block-8 bee-html-block">
                    <div class="our-class">
                        <p>To reset your password, please visit the following link</p>

                        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

                        <p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="bee-block bee-block-9 bee-divider">
                    <div class="spacer" style="height:0px;">
                    </div>
                </div>
                <div class="bee-block bee-block-10 bee-text">
                    <div class="bee-text-content" style="font-size: 14px; line-height: 120%; color: #3f4d75; font-family: inherit;">
                        <p style="font-size: 14px; line-height: 16px; text-align: center;">
         <span style="font-size: 14px; line-height: 16px;">
          If you didn&rsquo;t request to change your password, simply ignore this email.
         </span>
                        </p>
                    </div>
                </div>
                <div class="bee-block bee-block-11 bee-divider">
                    <div class="spacer" style="height:0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bee-row bee-row-2">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-1 bee-text">
                    <div class="bee-text-content" style="font-size: 14px; line-height: 120%; color: #3f4d75; font-family: inherit;">
                        <p style="font-size: 14px; line-height: 16px; text-align: center;">
         <span style="font-size: 12px; line-height: 14px;">
          This link will&nbsp;expire in 24 hours.&nbsp;If you continue to have problems
         </span>
                            <br style="">
                            <span style="font-size: 12px; line-height: 14px;">
          please feel free to contact us .
          <a href="https://www.example.com" rel="noopener" style="text-decoration: underline; color: #ffffff;" target="_blank"></a>
         </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bee-row bee-row-3">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-1 bee-divider">
                    <div class="spacer" style="height:10px;">
                    </div>
                </div>
                <div class="bee-block bee-block-2 bee-social">
                    <div class="content">
        <span class="icon" style="padding:0 10px 0 10px;">
         <a href="https://www.facebook.com/">
          <img alt="Facebook" src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png" title="facebook"></a>
        </span>
                        <span class="icon" style="padding:0 10px 0 10px;">
         <a href="https://www.twitter.com/">
          <img alt="Twitter" src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/twitter@2x.png" title="twitter"></a>
        </span>
                        <span class="icon" style="padding:0 10px 0 10px;">
         <a href="https://www.linkedin.com/">
          <img alt="Linkedin" src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/linkedin@2x.png" title="linkedin"></a>
        </span>
                        <span class="icon" style="padding:0 10px 0 10px;">
         <a href="https://www.instagram.com/">
          <img alt="Instagram" src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/instagram@2x.png" title="instagram"></a>
        </span>
                    </div>
                </div>
                <div class="bee-block bee-block-3 bee-divider">
                    <div class="spacer" style="height:10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>